$colorNameTitle: #FF2D2D;
$backgroundColorBody: #1B1A17;
$colorText: #F0E3CA;
$backgroundColorCard: #1F1E1B;
$backgroundColorProjectInfo: rgba(33, 32, 29, 0.98);
$backgroundColorInfoTop: rgba(163, 87, 9, 1);
$backgroundColorContextLink: #32312E;