.context-btn {
    padding: 5px 15px;
    border-radius: 7px;
    min-width: 184px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
    
    transition: box-shadow 0.5s;
    
}
