.about-me {
    padding-top: 64px;
    padding-bottom: 64px;
}
.container {
}
.about-me__content {
    display: flex;
    column-gap: 32px;
    align-items: center;
    justify-content: center;
}
.about-me__picture {
}
.about-me__text {
    max-width: 904px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.05;
}