.header {
    padding-top: 20.5px;
    padding-bottom: 20.5px;

    @media (max-width: 1243px ) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1243px ) {
        flex-direction: column;
        row-gap: 25px;
    }
}

.menu__list {
    display: flex;
    column-gap: 64px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.05;
    
}